/* 1. Universal selector: */

* {
    font-size: 20px;
    /* padding: 0;
    margin: 0; */
    font-family: 'Courier New', Courier, monospace;
}


/* 2. Id selector: */

#superheros {
    text-decoration: line-through;
    color: rgb(102, 102, 215);
}


/* 3. Class Selector */

.super {
    background-color: rgb(215, 119, 119);
    color: rgb(232, 218, 218);
}


/* 4. Element selector */

p {
    background-color: rgb(231, 183, 95);
}


/* 5. Attribute selector: */

input[type="password"] {
    background-color: rgb(136, 233, 136);
}

input[type="text"] {
    background-color: rgb(244, 163, 176);
}